<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">

                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="../../assets/images/logo.png" class="h-6" alt="">
                    </div>

                    <form class="card">
                        <div class="card-body p-6">
                            <div class="card-title">Login to your account</div>

                            <div class="form-footer">
                                <button (click)="signIn()" type="button" class="btn btn-google btn-block"><i class="fa fa-google mr-2"></i>Sign in with Google</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>